@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

  .purple_rect {
    width: 1120px;
    background-color: #7563BD;
    height: 1100px;
  }
  
  .rect2 {
    height: 636px;
    width: 760px;
    position: absolute;
    top: 272px;
    left: 100px;
    background-color: white;
  }
  
  .purple_rect p {
    font-family: 'Gluten', sans-serif;
    font-size: 150px;
    color: white;
    position: relative;
    top: 80px;
    left: 350px;
  }
  
  .ssistant {
    display: inline;
    font-family: 'Gluten', sans-serif;
    font-size: 150px;
    color: #7563BD;
    position: absolute;
    top: 80px;
    left: 1120px;
  }
  
  .stud_img {
    background-image: url(/src/assets/studentass1.png);
    background-size: 950px 636px;
    height: 636px;
    position: absolute;
    top: 272px;
    left: 860px;
    width: 950px;
  }
  
  .signup {
    font-family: 'Gluten', sans-serif;
    font-size: 90px;
    color: #8991E4;
    margin-top: 100px;
    height: 90px;
    margin-left: 200px;
  }
  
  .rect2 form input {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    height: 60px;
    margin-top: 20px;
    border-radius: 20px;
    width: 450px;
    margin-left: 120px;
    font-size: 20px;
    padding-left: 40px;
    font-family: 'Faustina', sans-serif;
  }
  
  .submitbtn {
    border: 0;
    outline: 0;
    background-color: #d9d9d9;
    color: #646060;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: 150px;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
  }
  .loginbtn2{
    border: 0;
    outline: 0;
    background-color: #8991e4;
    color: white;
    font-weight: bolder;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Faustina', sans-serif;
    text-align: center;
    cursor: pointer;
  }
  .loginbtn2 a{
text-decoration: none;
color: white;
  }